body {
  background-image: url('https://downloadwallpaperhd.net/laptop-wallpapers/weightlifting-wallpaper-free-For-Laptop-Wallpaper.jpg');
}

.site-title {
  color: darkred;
  text-align: center;
}

a {
  color: darkgrey;
}

li {
  list-style-type: none;
}