/* .site-title {
  color: darkred;
  text-align: center;
  font-style: italic;
  margin-top: .4em;
}

a {
  color: darkgrey;
  text-decoration-line: none;
}

li {
  list-style-type: none;
  text-align: center;
}

h6 {
  color: darkred;
  text-align: center;
}

h4 {
  text-align: center;
}

li .NavItem {
  text-align: center;
}

nav {
  border: darkred 1px solid;
}

a:hover, a:active {
  color: white;
  font-weight: bold;
}

#newWorkout {
  background-color: darkred;
  margin-top: 3em;
  color: darkgrey;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

a.NavLink {
  text-decoration-line: none;
}

nav.navbar {
  background: darkred;
  margin: .5em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  justify-content: center;
}

fieldset {
  margin-top: 1em;
} */

/* Register/Login */

/* #registerButton {
  margin-top: .5em;
  background: darkred;
}

#signInButton {
  background-color: darkred;
  margin: 1em 4em 0 4em;
} */

/* #signIn {
  width: 25%;
  margin-top: 20em;
  margin-left: 13em;
  border-radius: .5em;
} */

/* .login {
  margin-right: .5em;
} */

.registerButtonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#createAccount {
  margin: 24em 0 0 2.1em;
  border-radius: .5em;
}

/* Profile */

tr {
  color: white;
}

.homeContainer {
  background-image: url('https://res.cloudinary.com/dp5l2gxzh/image/upload/v1592407894/Daniel_s_workout_tracker_mhl5st.png')
}

.loginContainer {
  background-image: url('https://res.cloudinary.com/dp5l2gxzh/image/upload/v1592424392/Daniel_s_workout_tracker_2_hotl7a.png')
}

.loginForm {
  margin: 11.8em 0 0 8em;
  height: 100%;
}

/* .usernameInLoginPage {
  margin: 10.8em 0 0 8em;
} */